<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-left></ion-icon>
      @ionicframework
    </ion-item>
    <ion-item>
      <div class="row">
        <div class="col-md-6">
          <div style="display: block;">
            <canvas baseChart width="400" height="400"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="col-md-6" style="margin-bottom: 10px">
          <table class="table table-responsive table-condensed">
            <tr>
              <th *ngFor="let label of lineChartLabels"></th>
            </tr>
            <tr *ngFor="let d of lineChartData">
              <td *ngFor="let label of lineChartLabels; let j=index"></td>
            </tr>
          </table>
          <button (click)="randomize()">CLICK</button>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <table border="1">
        <thead>
          <tr>
            <th>A</th>
            <th>B</th>
            <th>C</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>A1</td>
            <td>B1</td>
            <td>C1</td>
          </tr>
          <tr>
            <td>A2</td>
            <td>B2</td>
            <td>C2</td>
          </tr>
        </tbody>
      </table>
    </ion-item>
  </ion-list>
</ion-content>
